body{
	/*background-image: url("theatre.jpg");*/
	background-size: 100%;
	background-color: black;
	margin: 0px;
	width: auto;
	overflow: scroll;
	overflow-x: hidden;
}

header{
	background-image: url("background2.png");
	background-size: 1270px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	word-spacing: 100px;
	color: black;
	height: 150px;
}

main{
	width: auto;
	background-color: black;
	overflow-x: scroll;
	white-space: nowrap;
}

.HomePanel{
	background-color: white;
	border: 2px solid black;
	width: 600px;
	height: 280px;
	display: inline-block;
	background-image: url(oldpaper.png);
	background-size: cover;
	background-repeat: none;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}

h1{
	padding: 10px;
	padding-top: 0px;
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}

p{
	text-align: center;
	padding: 10px;
	padding-top: 0px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	white-space: normal;
}

.ContentFormat{
	white-space: normal;
	display: inline-block;
}

p::first-letter { 
    font-size: 150%;
	font-weight: bold;
	text-decoration: underline;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

.ContactPanel{
	background-color: white;
	border: 2px solid black;
	margin-top: 15px; 
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 440px;
	padding: 80px;
	height: 280px;
	background-image: url(oldpaper.png);
	background-size: cover;
	background-repeat: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 85%;
	font-weight: bold;
}

.NavBar {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	text-align: center;
}

.Logo{
	content: url(logo.png);
	width: 10%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#NavList{
	list-style-type: none;
	color: black;
	margin: 0;
	padding: 0;
}

.NavItem{
	display: inline;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

footer{
	background-color: #282828;
	color: white;
	width: 100%;
	margin: 0px;
	text-align: center;
	word-spacing: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}